#AddRecordDialogSaveButton,
#EditDialogSaveButton,
#DeleteDialogButton
{
    float: left;
}

input, select, textarea{
    padding: 5px 2px;
}
#Edit-Actividades{
    min-width: 677px;
    max-width: 677px;
}
.jtable-input-field-container{
    float: left;
}
#jtable-edit-form, #jtable-create-form{
    width: 700px;
}