h1 {
  font-family: 'Raleway';
  font-size: 15px;
  font-weight: 500;
}
body {

  text-align:center;

}

.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
    font-family: 'Raleway';
    font-size: 15px;
      font-weight: 500;
}

.nav li {
	float: left;
	width: 160px;
	position: relative;
}
.navigation{
    background: #00acef;
	color: #fff;
}
.nav li a {
	background: #00acef;
	color: #fff;
	display: block;
	padding: 7px 8px;
	text-decoration: none;

}

.nav li a:hover {
	color: #069;
}

/*=== submenu ===*/

.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;

}

.nav ul li {
	width: 160px;
	float: left;
}

.nav ul a {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;
}

.nav ul li a:hover {
	color: #f1f1f1;
}
.img ul li{
    float: left;
    list-style: none;
}

